.table-info {
  background-color: #20c3ec;
  color: white;
}

.table {
  margin-top: 20px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.average-seasons {
  margin-top: 20px;
  font-weight: bold;
}